<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Last Class JS Advanced</title>
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <div class="category">
      <button type="button" id="planets">Planets</button>
      <button type="button" id="people">People</button>
      <button type="button" id="species">Species</button>
      <button type="button" id="films">Films</button>
      <button type="button" id="starships">Starships</button>
      <button type="button" id="vehicles">Vehicles</button>
    </div>
    <div class="content"></div>
    <script type="module" src="../src/main.js"></script>
  </body>
</html>
